/****** General Styling ******/
p,
.receipt {
  font-size: 1.1rem;
}

/* Row and column settings */
.row {
  display: grid;
}

/***** Admin Info ******/
.row.admin {
  grid-template-columns: 82% 8% 10%;
}

.details {
  justify-self: end;
}

.invoice-title {
  margin-top: 0;
}

.customer-info p {
  margin: 0;
}

/***** Receipt details ******/
.receipt {
  padding-top: 3.1rem;
}

/* Header */
.table-head.row,
.item-details.row {
  grid-template-columns: 5% 40% 20% 10% 23%;
  justify-content: space-between;
}

.item-details.row {
  justify-items: center;
  align-items: center;
  padding: 2rem 0;
  border-bottom: 1px solid #808080;
}

.header-item {
  background-color: #000;
  color: #fff;
  text-align: center;
  font-size: 1.25rem;
  padding: 0.8rem;
}

/** Individual product details **/
/* Description column */
.description.flex-row {
  display: flex;
}

.col-one-third {
  flex: 40%;
}

.col-two-third {
  padding-left: 3rem;
  flex: 60%;
}

.product-img img {
  max-width: 13.5rem;
}

.product-model {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.colour-text {
  font-size: 1rem;
}

.colour-wrapper {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-left: 8px;
  vertical-align: top;
}

.table-footer {
  background-color: #000;
  height: 3rem;
}

/* Final cost calculations */
.cost-table.row {
  grid-template-columns: 70% 20% 10%;
  padding-top: 2rem;
}

.cost-label {
  grid-column: 2 / 3;
}

.calculation {
  grid-column: 3 / 4;
}

.cost-table h4 {
  font-size: 1.25rem;
  border-top: 1px solid #000;
  margin: 0;
  padding-top: 1em;
}
